body {
	width: 1433px;
	height: 544px;
	font-family: sans-serif;
	display: inline-block;
	margin: 0px;
}

.octocat img {
	width: 377px;
	height: 377px;
	border: 1.5px solid;
	border-color: #d3cdc8;
}

.authors img {
	display: inline;
	width: 20px;
	height: 30px;
	border: bottom;
	left: 0;
	bottom: 0;
}

.octocat {
	float: left;
	left: 30px;
}

ul {
	list-style: none;
}

.image-number::before {
	content: "#";
}

.image-footer {
	left: 0;
	bottom: 0;
	font-size: 9pt;
	font color: #d3cdc8;
	padding: 10px;
	border-bottom: 1.5px solid;
	border-color: #d3cdc8;
}
