body {
	width: 1433px;
	height: 544px;
	font-family: sans-serif;
	display: inline-block;
	margin: 0px;
	margin-left: 0px;
}

.octocat img {
	width: 377px;
	height: 377px;
	border: .1em solid;
	border-color: #d3cdc8;
	margin: 10px;
	margin-left: 5px;
	margin-bottom: 0px;
}

.authors img {
	display: inline;
	width: 30px;
	height: 30px;
	margin-right: 0px;
	margin-top: .5px;
	float: right;
}

.authors {
	text-align: left;
	margin: 0;
	margin-left: 0px;
}

.octocat {
	float: left;
	left: 30px;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

.image-number::before {
	content: "#";
	font-size: 10pt;
}

.image-footer {
	margin: 10px;
	margin-top: .5px;
	padding-top: .5px;
	padding-bottom: 8px;
	font-size: 9pt;
	font color: #d3cdc8;
	border-bottom: 1.5px solid;
	border-color: #d3cdc8;
	overflow: hidden;
}

.image-footer span {
	padding-top: .5px;
	font-size: 10pt;
}

.image-caption {
	float: right;
	font-size: 10pt;
	display: inline;
	position: right;
	overflow: hidden;
}
